.title h1 {
  margin-bottom: 0;
  color: #587608;
}

.rounded-3 {
  background-image: url(../../images/fondobolsa.jpg);
  border: none;
  margin: 5%;
  margin-left: 30%;
  font-family: "Poppins", sans-serif;
  padding: 80px;
  width: 30%;
  align-items: center;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);
}
@media (max-width: 900px) {
  .rounded-3 {
    padding: 0;
    width: auto;
    height: 350px;
    margin-left: 5%;
  }
}

.btn-primary {
  background: #2D607C !important;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  color: white;
}
.btn-primary:hover {
  background-color: #57813e !important;
  border: none;
}

.mx-auto {
  padding-top: 20px;
}

.mb-3 .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
}
.mb-3 .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #235c02;
  font: bold;
}
.mb-3 .form-control {
  padding: 10px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 7px;
  border: none;
}
@media (max-width: 900px) {
  .mb-3 .form-control {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

footer {
  padding: 30px;
  background-color: #587608;
}
footer .top-info {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1181px) {
  footer .top-info {
    flex-direction: row;
  }
}
footer .top-info .bloq-top {
  width: 100%;
  margin-bottom: 35px;
}
@media screen and (min-width: 1181px) {
  footer .top-info .bloq-top {
    width: 33.333%;
  }
}
footer .top-info .bloq-top:first-child {
  text-align: center;
}
@media screen and (min-width: 1181px) {
  footer .top-info .bloq-top:first-child {
    text-align: left;
  }
}
footer .top-info .bloq-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 35px;
  color: #fff;
  text-align: center;
}
footer .top-info .bloq-top ul li i {
  margin-right: 5px;
}
footer .top-info .bloq-top ul li a {
  text-decoration: none;
  color: inherit;
}
footer .top-info .bloq-top ul li:hover {
  color: #f09d06;
}
footer .top-info .bloq-top .rrss {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #f09d06;
}
footer .top-info .bloq-top .rrss ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
footer .top-info .bloq-top .rrss ul li a {
  display: block;
  background: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  color: #587608;
}
footer .top-info .bloq-top .rrss ul li a i {
  margin: 0;
}
footer .copy {
  margin-top: 0px;
}
footer .copy p {
  text-align: center;
  margin: 0;
  color: #fff;
  opacity: 0.7;
  min-width: none;
}

.title h1 {
  margin-bottom: 0;
  color: #587608;
}

.rounded-3 {
  background-image: url(../../images/fondobolsa.jpg);
  border: none;
  margin: 5%;
  margin-left: 30%;
  font-family: "Poppins", sans-serif;
  padding: 80px;
  width: 30%;
  align-items: center;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 30px rgb(154, 155, 155);
}
@media (max-width: 900px) {
  .rounded-3 {
    padding: 0;
    width: auto;
    height: 350px;
    margin-left: 5%;
  }
}

.btn-primary {
  background: #2D607C !important;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  color: white;
}
.btn-primary:hover {
  background-color: #57813e !important;
  border: none;
}

.mx-auto {
  padding-top: 20px;
}

.mb-3 .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
}
.mb-3 .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #235c02;
  font: bold;
}
.mb-3 .form-control {
  padding: 10px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 7px;
  border: none;
}
@media (max-width: 900px) {
  .mb-3 .form-control {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.title h1 {
  margin-bottom: 0;
  color: #587608;
}

.rounded-3 {
  background-image: url(../../images/fondobolsa.jpg);
  border: none;
  margin: 5%;
  margin-left: 30%;
  font-family: "Poppins", sans-serif;
  padding: 80px;
  width: 30%;
  align-items: center;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);
}
@media (max-width: 900px) {
  .rounded-3 {
    padding: 0;
    width: auto;
    height: 350px;
    margin-left: 5%;
  }
}

.btn-primary {
  background: #2D607C !important;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  color: white;
}
.btn-primary:hover {
  background-color: #57813e !important;
  border: none;
}

.mx-auto {
  padding-top: 20px;
}

.mb-3 .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
}
.mb-3 .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #235c02;
  font: bold;
}
.mb-3 .form-control {
  padding: 10px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 7px;
  border: none;
}
@media (max-width: 900px) {
  .mb-3 .form-control {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.Section {
  margin-left: 20%;
  margin-right: 20%;
  scroll-snap-align: center;
}
@media only screen and (max-width: 768px) {
  .Section {
    margin-bottom: 30px;
  }
}
.Section .Container {
  background: url(../../images/fondobolsa.jpg);
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 120%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media only screen and (max-width: 768px) {
  .Section .Container {
    margin-top: 2040px;
    margin-bottom: 30px;
  }
}
.Section .Container .Left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  border-radius: 20px;
  margin: 25px;
}
@media only screen and (max-width: 768px) {
  .Section .Container .Left {
    justify-content: center;
    margin-top: 1150px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
}
.Section .Container .Left .Title {
  font-weight: 500;
}
.Section .Container .Left .Form {
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.Section .Container .Left .Form .prueba {
  display: flex;
  flex-wrap: nowrap;
}
.Section .Container .Left .Form .Input {
  padding: 20px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  align-items: center;
  margin-right: 40px;
}
.Section .Container .Left .Form .TextArea {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  width: 100%;
}
.Section .Container .Left .Form .Button {
  background-color: #2D607C;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}/*# sourceMappingURL=main.css.map */