$color-naranja: #F09D06;
$color-verde: #587608;
$color-amarillo: #FDBA1A;
$color-gris: #968B84;
$color-azul: #2D607C;
$color-blanco: #FFFFFF;
$color-slogan: rgb(68, 67, 67);
$color-gris-claro: #ECECEC;

