$color-naranja: #F09D06;
$color-verde: #587608;
$color-amarillo: #FDBA1A;
$color-gris: #968B84;
$color-azul: #2D607C;
$color-blanco: #FFFFFF;
$color-slogan: #444343;
$color-gris-claro: #ECECEC;
$color-boxshadow: 0 2px 2px rgba(0, 0, 0, 0.1);
$color-border: #ccc;
$color-background-card: #fdb91a4e;
$color-error: #e92b2d;
$color-correcto: #235c02;
$color-negro: #000;