$color_1: #fff;
$color_2: #ffff;
$color_3: #ffffff;
$color_4: #000000;
$color_5: #587608;
$color_6: #F09D06;
$color_7: #666666;
$color_8: #797171;
$font-family_1: 'Material Symbols Rounded';
$background-color_1: #587608;
$background-color_2: rgba(0,0,0,0.5);
$background-color_3: #ffffff;
$background-color_4: #F09D06;
$background-color_5: transparent;
$background-color_6: #ECECEC;
$background-color_7: #2D607C;
$background-color_8: #f09d061a;
$border-color_1: #FDBA1A;

.container-icon-cart {
	position: relative;
	width: fit-content;
    div {
        .icon-cart {
            vertical-align: middle;
            display: inline-block;
            transition: all 80ms ease-out;
            position: relative;
            &:hover {
                cursor: pointer;
            }
        }
        .counter-products {
            background-color: $background-color_1;
            box-sizing: border-box;
            border: none;
            border-radius: 50%;
            color: $color_1;
            display: flex;
            justify-content: center;
            position: absolute;
            font-size: 13px;
            font-weight: 650;
            top: 27%;
            height: 20px;
            line-height: 21px;
            left: -2%;
            margin: 0 0 0 20px;
            text-align: center;
            width: 20px;
            &.hidden {
                display: none;
            }
        }

    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color_2;
        z-index: 1;
        transition: .4s ease;
        &.overlay-show {
            display: block;
        }
    }
    .cart-container {
        position: relative;
        // left: calc(100% 24rem);
        transition: left .4s ease;
        visibility: visible;
        box-shadow: 0 10px 20px #00000080;
        &.cart-open {
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $background-color_3;
            position: fixed;
            top: 50px;
            right: 0;
            width: 350px;
            height: 100%;
            top: 0;
            right: 0;
            transition: left .4s ease;
            // left: calc(100% 24rem);
        }
        &.hidden-cart {
            display: none;
        }
        .cart-header {
            display: flex;
            align-items: center;
            min-height: 80px;
            background-color: $background-color_4;
            justify-content: space-between;
            padding: 10px;
            .cart-header-icon-title {
                display: flex;
                color: $color_2;
                align-items: center;
                .close-cart-icon {
                    display: inline;
                    &:hover {
                        cursor: pointer;
                    }
                }
                h2 {
                    color: $color_1;
                    padding-left: 10px;
                }
            }
            .btn-clear-all {
                border: none;
                color: $color_3;
                background-color: $background-color_5;
                cursor: pointer;
                font-size: 13px;
                font-weight: 400;
                padding: 0;
                text-align: left;
                display: flex;
                justify-content: space-between;
                &:hover {
                    cursor: pointer;
                    text-shadow: 1px 2px #808080c4;
                }
                .material-symbols-rounded {
                    font-family: $font-family_1;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                }
            }
            .cart-empty {
                padding: 20px;
                text-align: center;
                color: $color_8;
            }
            .keep-shop {
                text-align: center;
                margin: 0 auto;
                button {
                    background-color: $background-color_3;
                    color: $color_8;
                    font-weight: 600;
                    padding: 10px;
                    border-radius: 5px;
                    border-color: $border-color_1;
                    border-style: solid;
                    &:hover {
                        background-color: $background-color_8;
                    }
                }
            }
            .cart-empty-img {
                background-image: url(https://ssl.gstatic.com/android/market_images/web/empty_cart_logo.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 100%;
                max-height: 303px;
                min-height: 184px;
            }
        }

        .row-products {
            overflow: auto;
            flex: 1 1;
            .cart-product {
                min-height: 130px;
                padding: 6px 16px 4px 8px;
                margin: -1px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid #ddd9d8;
                &:hover {
                    background-color: $background-color_6;
                }
                figure {
                    min-width: 120px;
                    width: 120px;
                    height: 120px;
                    position: relative;
                    display: inline-flex;
                    vertical-align: top;
                }
                .info-cart-product {
                    display: flex;
                    flex: 1 1;
                    justify-content: space-between;
                    padding-left: 5px;
                    .name-quantity {
                        display: flex;
                        flex-direction: column;
                        .cart-product-name {
                            color: $color_4;
                            font-size: 19px;
                            font-weight: 500;
                        }
                        .cart-product-quantity {
                            font-weight: 500;
                            font-size: 19px;
                            color: $color_5;
                        }
                    }
                    .price-and-close {
                        display: flex;
                        .cart-product-price {
                            font-weight: 540;
                            font-size: 19px;
                            margin-left: 50px;
                            color: $color_5;
                            display: contents;
                        }
                        .icon-close {
                            width: 25px;
                            height: 25px;
                            color: $color_5;
                            &:hover {
                                color: $color_6;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .cart-total {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            gap: 20px;
            color: $color_7;
            border-top: 1px solid #ddd9d8;
            h3 {
                font-size: 16px;
                font-weight: 600;
            }
            .total-payment {
                font-size: 20px;
                font-weight: 900;
                color: $color_4;
            }
        }
        .link-payment {
            background-color: $background-color_7;
            color: $color_1;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            text-align: center;
            padding: 5%;
            min-height: 60px;
            border: none;
            &:hover {
                background-color: $background-color_1;
            }
        }
    }

}