@import '../utilities/variable';
.h-100 {
  height: 100%;
  width: 70%;
  margin: 25px;
  @media(min-width:600px){
    margin: 80px;
  }
  @media(min-width:1100px){
    margin-left: 300px;
    width: 50%;
  }
}

.p-5 {
  padding: 2rem;
}

.text-bg-dark {
  color: #222;
}

.rounded-3 {
  background-image:url(../../images/fondobolsa.jpg);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);
}

.form-control {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 90%;
}

.error {
  color: #dc3545;
  font-weight: bold;
}

.exito {
  color: $color-verde;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
}
.btn-primary {
  background: #2D607C !important;
  border: none;
  width: 30%;
  padding:10px;
  border-radius: 7px;
  color:white;

  &:hover {
    background-color: #57813e !important;
    border: none;
  }
}
