@import '../utilities/variable';

.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
    overflow: hidden;
	
}
.slogan {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-slogan;
    box-sizing: border-box;
    z-index: 1;
	width: 70%;
	margin-top: 15%;
	text-align: right;
	padding-right: 0;
	margin-left: 20%;
	font-size: 1.2em;
	
	@media (max-width:745px){
		padding:0;
		text-align: center;
		width: 90%;
		margin-left: 4%;
		margin-top:65%;
		font-size: 1em;
	}
	@media(min-width:745px){
		padding-left: 20%;
		margin-top: 15%;
		text-align: right;
		padding-right: 0;
	}
	
	
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
.card {
	background-color: $color-border;
	border: 1px solid $color-border;
	border-radius: 5px;
	box-shadow: $color-boxshadow;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 250px;
	transition: transform 0.3s ease-in-out;
	transition: 0.3s;
	&:hover{
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    	transform: scale(1.1);
	}
	img {
		margin-bottom: 10px;
	}
	h2 {
		font-size: 2rem;
		margin-bottom: 10px;
	}
	p {
		font-size: 1.5rem;
	}
}