@import '../utilities/variable';
.form {
  background-image:url(../../images/fondobolsa.jpg);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 150px auto;  
  
  @media(max-width:800px){
    margin: 30px;
    box-sizing: border-box;
    justify-content: center;
  }
  @media (min-width:800px) and (max-width:2000px){
      width: 50%;
      margin: 120px auto;
  }
}

.title_sesion {
  font-size: 36px;
  margin-bottom: 40px;
  color:$color-verde;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_descripcion {
  width: 90%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  .error {
    color: red;
    margin-top:-15px;
  }
}


.btn.auto {
  background:$color-azul;
  border: none;
  width: 60%;
  border-radius: 7px;
  color:$color-blanco;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 500;
}
p{
  font-weight: bold;
  margin-bottom: 30px;
  a{
    text-decoration: none;
    color: $color-verde;
    &:hover{
      color: $color-azul;
    }
  }
}
