@import '../utilities/variable';

.fruit-detail {
    margin: 120px auto;
    width: 80%;
    @media(max-width:767px){
        margin: 45px auto;
        width: 90%;
    }
    .fruit-card{
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        background-color: #ECECEC;
        border: 0.5px solid #e0dad6b2;
        @media(max-width:767px){
            flex-direction: column;
        }
        .fruit-detail__image{
            width: 100%;
            max-width: 430px;
            height: 430px;
            object-fit: cover;
            position: relative;
            overflow: hidden;
            border-radius: 10px 0 0 10px;
            @media screen and (max-width: 767px) {
                max-width: 100%;
                height: auto;
                border-radius: 10px 10px 0 0;
            }           
        }
        .p-fruits{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            padding: 40px;
            .text{
                .fruit-detail__origin,
                .fruit-detail__type,
                .fruit-detail__price {
                    margin-top: 1rem;
                }
                .fruit-detail__title {
                    margin-top: 0;
                    color: $color-verde;
                    font-size: 24px;
                }
            }
            .add-trolley {
                width: 100%;
                display: flex;
                margin-top: 20px;
            }
            .quantity-container {
                margin-top: 45px;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: flex-start;
                align-items: flex-start; 
                width: 80%;
                @media screen and (max-width: 767px) {
                    width: 100%;
                }           
                .kg {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    padding: 7px;
                    border-radius: 5px;
                    background-color: $color-naranja;
                    cursor: pointer;
                    color: $color-blanco;
                    font-weight: 600;
                    min-width: 70px;
                    transition: all .3s ease;
                    &:hover{
                        background-color: $color-azul;
                    }
                    input[type="radio"] {
                        margin-right: 0.5rem;
                        list-style: none;
                        appearance: none;
                    }        
                }
                .add-trolley{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start;
                    
                    input[type="number"] {
                        width: 80px;
                        background-color: $color-blanco;
                        border-radius: 5px;
                        padding: 10px;
                        border: 1px solid $color-naranja;                
                    }
                
                    button{
                        background-color: $color-azul;
                        color:$color-blanco;
                        padding: 10px;
                        border-radius: 5px;
                        margin-left: 5px;
                        font-weight: 600;
                        border: none;
                        &:hover{
                            background-color: $color-verde;
                        }
                    }
                    
                }
                
            }
        }
        .back-to-shop{
            text-decoration: none;
            color: $color-verde;
        }
    }



    


    

    
    // .fruit-detail__quantity-input {
    //     margin-top: 2rem;

    //     label {
    //         display: block;
            
    //     }


    //     .fruit-detail__quantity-input--input {
    //         margin-left: 0.5rem;
    //         border: 2px solid $color-border;
    //         border-radius: 5px;
    //         padding: 0.5rem;
    //         font-size: 1rem;
    //         width: 4rem;
            

            
    //     }

    //     .fruit-detail__add-to-cart {
    //         margin-top: 0.5rem;
    //         padding: 0.5rem;
    //         background-color: $color-background-card;
    //         color: $color-blanco;
    //         border: none;
    //         border-radius: 5px;
    //         cursor: pointer;
    //         font-size: 1rem;
            
    //     }
    // }

    
    

    
}
