@import '../utilities/variable';

<<<<<<< HEAD
.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;

  .mx-autoform {
    width: 100%;
  }
}

.container-form {
  background-image: url(../../images/bolsappel1.png);
  border: none;
  margin: 100px auto;
  margin-top: 170px;
  padding: 90px;
  padding-top: 20px;
  width: 50%;
  align-items: center;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);

  @media(max-width:768px) {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
  }
}

.btn {
  background: $color-azul;
  border: none;
  width: 30%;
  padding: 0.5rem 2rem;
  color: $color-blanco;
  margin-top: 30px;
  font-size: 1rem;
  border-radius: 0.5rem;
  align-items: center;


  &:hover {
    background-color: $color-verde;
    border: none;
  }

  @media(max-width:1500px) {
    width: auto;
    margin-top: 30px;
  }
}

.mb-3-input {
  width: 100%;
  

  .error {
    color: $color-error;
    margin-top: 1px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
  }


  .exito {
    padding-top: 20px;
    color: $color-correcto;
    margin-top:5px;
    font-weight: bold;
  }

  .form-control-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    &:focus{
      border: 1px solid $color-amarillo;
      outline: none;
}
    
    

    @media(max-width:767px) {  
      margin-bottom: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

input{
  border-radius: 7px;
}
textarea{
  border-radius: 7px;
}

.checkbox {
  margin-top: 10%;
  font-weight: bold;
  .p-cookies{
    font-weight: lighter;
  }

  a {
    text-decoration: none;
    color: $color-verde;

    &:hover {
      color: $color-azul;
=======
.registerform {
  .container-form {
    background-image: url(../../images/fondobolsa.jpg);
    border: none;
    margin: 100px auto;
    margin-top: 170px;
    padding: 45px;
    width: 45%;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    @media(max-width:768px) {
      width: 90%;
      margin: 40px auto;
      padding: 20px;
      box-sizing: border-box;
    }
    .title {
      font-size: 32px;
      text-align: center;
      margin-bottom: 25px;
      text-transform: uppercase;
>>>>>>> 00622b1ce2c527dfc811623c3d40b4cfb3fa3350
    }
    .formRegister {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      .form-control {
        margin-top: 10px;
        width: 100%;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          width: 49%;
          @media(max-width:768px) {
            width: 100%;
          }
        }
        .form-control-input {
          padding: 10px;
          width: 100%;
          margin-bottom: 5px;
          border-radius: 7px;
          border: none;      
          @media(max-width:767px) {  
            margin-bottom: 0;
            width: 100%;
          }
        }
        .errorForm {
          color: red;
          font-size: 11px;
          font-weight: bold;
          font-style: italic;
          margin-bottom: 10px;
        }
      }
      .checkbox {
        margin: 15px 0;
        label {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            #termschkbx {
                margin-right: 10px;
            }
            a {
              text-decoration: none;
              color: $color-verde;
          
              &:hover {
                color: $color-azul;
              }
            }
        }
      }
      .cookies {
        a {
          text-decoration: none;
          color: $color-verde;
          font-weight: bold;
      
          &:hover {
            color: $color-azul;
          }
        }
      }
      .btn {
        background: $color-azul;
        border: none;
        width: 30%;
        padding: 0.5rem 2rem;
        color: $color-blanco;
        margin-top: 30px;
        font-size: 1rem;
        border-radius: 0.5rem;
        align-items: center;
        &:hover {
          background-color: $color-verde;
          border: none;
        }
        &[disabled] {
          background: grey;
          cursor: no-drop;
        }
        @media(max-width:1184px) {
          width: auto;
          margin-top: 30px;
        }
      }
    }
  }
}