@import '../utilities/variable';

.cart-container{
    margin: 50px 100px;
}

.delete-btn{
    width: 50%;
    background-color:#3e8e41;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
}
.table-cart{
    width: 100%;
    max-width: 100%;
    display:flex;
    justify-content: space-between;
    table {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    td{
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        
    }
    th{
        box-sizing: border-box;
        padding: 10px;
        
    }
    input{
        width: 50px;
        border: 1px solid green;
        border-radius: 5px;
        padding: 4px;
        &:focus{
            border: 1px solid $color-amarillo;
            outline: none;
    }

    }
}

.emty-cart{
    padding:30px;
    margin:20px;
    text-align: center;
}

// .fruit-img {
//     display: block;
//     height: 100px;
//     margin: 10px auto;
//     width: 100px;
// }



.btn-end{
    display: flex;
    justify-content: flex-end;

    .btn-cart {
        background-color: #4CAF50;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1em;
        margin: 10px 0;
        padding: 8px;
        width: 200px;
        border-radius: 7px;
        justify-self: right;
    
        &:hover {
            background-color: #3e8e41;
        }
    }
    

}

.total{
    margin: 20px auto;
}

