h1,h2{
    color: #587608;
}

.slogan h1 {
  color: #444343;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
  font-family: 'Open Sans';
}
h1,h2{
    /* color: $color-verde; */
    color: #587608;
}

