@charset "UTF-8";
.h-100 {
  height: 100%;
  width: 70%;
  margin: 25px;
}
@media (min-width: 600px) {
  .h-100 {
    margin: 80px;
  }
}
@media (min-width: 1100px) {
  .h-100 {
    margin-left: 300px;
    width: 50%;
  }
}
@media (max-width: 300px) {
  .h-100 {
    margin: 0 auto;
  }
}

.p-5 {
  padding: 2rem;
}

.text-bg-dark {
  color: #222;
}

.rounded-3 {
  background-image: url(../../images/fondobolsa.jpg);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);
  margin-top: 150px;
}
@media (max-width: 770px) {
  .rounded-3 {
    margin: 50px auto;
  }
}
.rounded-3 h1 {
  text-align: center;
}

.form-control {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #dc3545;
  font-weight: bold;
  margin-top: -15px;
}

.exito {
  color: #587608;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  align-items: center;
}

.btn-form {
  background: #2D607C;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  color: white;
}
.btn-form:hover {
  background-color: #57813e;
  border: none;
}

footer {
  padding: 30px;
  background-color: #587608;
}
footer .top-info {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1181px) {
  footer .top-info {
    flex-direction: row;
  }
}
footer .top-info .bloq-top {
  width: 100%;
  margin-bottom: 35px;
}
@media screen and (min-width: 1181px) {
  footer .top-info .bloq-top {
    width: 33.333%;
  }
}
footer .top-info .bloq-top:first-child {
  text-align: center;
}
@media screen and (min-width: 1181px) {
  footer .top-info .bloq-top:first-child {
    text-align: left;
  }
}
footer .top-info .bloq-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
}
footer .top-info .bloq-top ul li i {
  margin-right: 5px;
}
footer .top-info .bloq-top ul li a {
  text-decoration: none;
  color: inherit;
}
footer .top-info .bloq-top ul li:hover {
  color: bisque;
}
footer .top-info .bloq-top .rrss {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
}
footer .top-info .bloq-top .rrss ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
footer .top-info .bloq-top .rrss ul li a {
  display: block;
  background: #FFFFFF;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  color: #587608;
}
footer .top-info .bloq-top .rrss ul li a i {
  margin: 0;
}
footer .copy {
  margin-top: 0px;
}
footer .copy p {
  text-align: center;
  margin: 0;
  color: #FFFFFF;
  opacity: 0.7;
  min-width: none;
}

.section-faqs {
  margin-top: 100px;
}
@media (max-width: 745px) {
  .section-faqs {
    margin: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
.section-faqs .faqs {
  width: 90%;
  margin: 0 auto;
}
.section-faqs .faqs .title-section {
  position: relative;
  text-align: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 30px;
}
@media (max-width: 745px) {
  .section-faqs .faqs .title-section {
    margin-bottom: 0.5rem;
  }
}
.section-faqs .faqs .title-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.section-faqs .faqs .faqs-grid {
  margin: 65px auto;
}
@media (max-width: 745px) {
  .section-faqs .faqs .faqs-grid {
    margin: 0 auto;
  }
}
.section-faqs .faqs .faqs-grid .faqs-item {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-title {
  display: flex;
  position: relative;
  background-color: #ECECEC;
  border: 1px solid #ddd;
  color: #444343;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  outline: none;
  transition: 0.4s;
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-title:hover {
  background-color: #FDBA1A;
  color: #ECECEC;
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-title.active {
  background-color: #FDBA1A;
  color: #ECECEC;
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-title.active:after {
  content: "−";
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-title:after {
  content: "+";
  color: #968B84;
  font-weight: normal;
  float: right;
  margin-left: auto;
  font-size: 24px;
  line-height: 1;
  padding-left: 20px;
}
@media (max-width: 745px) {
  .section-faqs .faqs .faqs-grid .faqs-item .faqs-title {
    font-size: 1rem;
    padding: 10px;
    outline: none;
  }
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-content {
  padding: 0;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-content .faqs-content-inside {
  text-align: justify;
  padding: 20px;
  color: #444343;
}
@media (max-width: 745px) {
  .section-faqs .faqs .faqs-grid .faqs-item .faqs-content .faqs-content-inside {
    padding-top: 0.2rem;
    font-size: 0.9rem;
    padding: 0 5px;
  }
}
.section-faqs .faqs .faqs-grid .faqs-item .faqs-content.no-height {
  max-height: 0;
}

.homepage {
  overflow: hidden;
  position: relative;
}
.homepage .banner {
  position: relative;
}
.homepage .banner img {
  width: 100%;
}
.homepage .banner .slogan {
  position: absolute;
  right: 5%;
  top: 35%;
  color: #444343;
  box-sizing: border-box;
  z-index: 1;
  width: 50%;
  text-align: right;
  padding-right: 0;
  font-size: 1rem;
}
@media (max-width: 745px) {
  .homepage .banner .slogan {
    padding: 0;
    top: 70px;
    text-align: right;
    width: 90%;
    text-shadow: 0 0 10px white;
  }
}
@media (min-width: 631px) {
  .homepage .banner .slogan {
    top: 140px;
    width: 60%;
    font-size: 0.9em;
  }
}
@media (max-width: 470px) {
  .homepage .banner .slogan {
    font-size: 0.7em;
    top: 60px;
  }
}
@media (max-width: 300px) {
  .homepage .banner .slogan {
    font-size: 0.5em;
  }
}
@media (min-width: 1200px) {
  .homepage .banner .slogan {
    top: 200px;
    font-size: 1.4em;
  }
}
.homepage .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.homepage .card {
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  transition: 0.3s;
}
.homepage .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.homepage .card img {
  margin-bottom: 10px;
}
.homepage .card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.homepage .card p {
  font-size: 1.5rem;
}

.form {
  background-image: url(../../images/fondobolsa.jpg);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgb(134, 125, 109), 0 0 20px rgb(154, 155, 155);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 120px;
}
@media (max-width: 600px) {
  .form {
    margin: 30px;
  }
}
@media (min-width: 600px) {
  .form {
    margin-left: 150px;
    padding: 0;
    width: 60%;
    margin-bottom: 30px;
  }
}
@media (min-width: 980px) {
  .form {
    width: 50%;
    margin-left: 260px;
  }
}

.title_sesion {
  font-size: 36px;
  margin-bottom: 40px;
  color: #587608;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_descripcion {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .input_descripcion {
    width: 140%;
  }
}

.error {
  color: red;
  margin-top: -15px;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.btn.auto {
  background: #2D607C !important;
  border: none;
  width: 70%;
  padding: 10px;
  border-radius: 7px;
  color: #FFFFFF;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #F09D06;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  padding: 15px 25px;
  left: 0;
  box-sizing: border-box;
}
.navbar .logo {
  height: 70px;
  position: absolute;
  left: 2%;
}
.navbar .links {
  list-style: none;
  display: flex;
  color: #FFF3F4;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
.navbar .links a {
  text-decoration: none;
  color: #FFF3F4;
}
@media (max-width: 600px) {
  .navbar .links a {
    font-size: 1.2rem;
  }
}
.navbar .links .float-shadow {
  margin: 17px;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.navbar .links .float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(51, 0, 127, 0.457) 0%, rgba(19, 17, 145, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.navbar .links .float-shadow:hover {
  transform: translateY(-5px);
}
.navbar .links .float-shadow:hover:before {
  opacity: 1;
  transform: translateY(5px);
}
.navbar .icons-nav {
  list-style: none;
  color: #FFF3F4;
  display: flex;
  width: 86%;
  margin: 0 auto;
}
.navbar .icons-nav svg.iconify.iconify--ic {
  color: #FFFFFF;
}
.navbar .icons-nav svg.iconify.iconify--teenyicons {
  color: white;
}
@media (max-width: 768px) {
  .navbar .icons-nav {
    justify-content: right;
  }
}
.navbar .icons-nav li {
  margin-left: 10px;
}
.navbar .toggle-icon {
  display: none;
}
.navbar .icons-desk {
  list-style: none;
  display: flex;
}
.navbar .icons-desk .icon-desk {
  padding: 0;
  margin-left: 20px;
}
.navbar .icons-desk .icon-desk svg.iconify.iconify--ic {
  color: #FFFFFF;
}
.navbar .icons-desk .icon-desk svg.iconify.iconify--teenyicons {
  color: white;
}
@media (max-width: 768px) {
  .navbar {
    position: relative;
    transition: 0.5s all ease-in-out;
    padding: 0;
  }
  .navbar .logo {
    margin-top: -2%;
    padding: 0;
    text-align: center;
    height: 60px;
  }
  .navbar.expanded {
    height: 70vh;
  }
  .navbar.expanded .logo {
    position: absolute;
    top: 4%;
    padding: 0;
    text-align: center;
    height: 60px;
  }
  .navbar.expanded .icons-nav {
    display: flex;
    margin-right: 5%;
    position: absolute;
    top: 2%;
    right: 8%;
  }
  .navbar.expanded .links {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .navbar.expanded .links li {
    margin: 15px 0;
    font-size: 24px;
  }
  .navbar .logo {
    position: absolute;
    left: 20px;
  }
  .navbar .toggle-icon {
    display: block;
    color: #FFF3F4;
    position: absolute;
    top: 28px;
    right: 20px;
  }
  .navbar .toggle-icon .menu {
    margin-right: 70%;
  }
  .navbar .links {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .navbar .links li {
    margin: 15px 0;
    font-size: 24px;
  }
}

.fruit-detail {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open sans";
  margin-bottom: 50px;
  padding: 25px;
  justify-content: center;
}
@media (max-width: 770px) {
  .fruit-detail {
    margin: 0 auto;
  }
}
.fruit-detail .fruit-detail__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.fruit-detail h2 {
  margin-top: 0;
  color: #587608;
}
.fruit-detail img {
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.fruit-detail .fruit-card {
  background-color: rgba(253, 185, 26, 0.3058823529);
  border: 1px solid #ccc;
  border-radius: 7px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
@media (min-width: 700px) {
  .fruit-detail .fruit-card {
    flex-direction: row;
  }
  .fruit-detail .fruit-card img {
    max-width: 50%;
    height: 100%;
  }
  .fruit-detail .fruit-card .p-fruits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .fruit-detail .fruit-card .p-fruits .text {
    margin-left: 30px;
  }
  .fruit-detail .fruit-card .p-fruits .quantity-container {
    margin-left: 6%;
    margin-bottom: 5%;
  }
  .fruit-detail .fruit-card .p-fruits .add-trolley {
    margin-left: 6%;
  }
}
.fruit-detail .fruit-detail__origin,
.fruit-detail .fruit-detail__type,
.fruit-detail .fruit-detail__price {
  margin-top: 1rem;
}
.fruit-detail .quantity-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 10%;
}
.fruit-detail .quantity-container label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #F09D06;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 600;
}
.fruit-detail .quantity-container label:hover {
  background-color: #2D607C;
}
.fruit-detail .quantity-container label input[type=radio] {
  margin-right: 0.5rem;
  list-style: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.fruit-detail .quantity-container .add-trolley label {
  background-color: rgba(253, 185, 26, 0);
  border: none;
}
.fruit-detail .fruit-detail__quantity-input {
  margin-top: 2rem;
}
.fruit-detail .fruit-detail__quantity-input label {
  display: block;
}
.fruit-detail .fruit-detail__quantity-input .fruit-detail__quantity-input--input {
  margin-left: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 4rem;
}
.fruit-detail .fruit-detail__quantity-input .fruit-detail__add-to-cart {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(253, 185, 26, 0.3058823529);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.fruit-detail input[type=number] {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  max-width: 40px;
  border: 1px solid #F09D06;
}
.fruit-detail button {
  background-color: #2D607C;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: 600;
  font-style: bold;
  border: none;
}
.fruit-detail button:hover {
  background-color: #587608;
}

.Section {
  margin-left: 20%;
  margin-right: 20%;
  scroll-snap-align: center;
}
@media only screen and (max-width: 768px) {
  .Section {
    margin-bottom: 30px;
  }
}
.Section .Container {
  background: url(../../images/fondobolsa.jpg);
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 120%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media only screen and (max-width: 768px) {
  .Section .Container {
    margin-top: 2040px;
    margin-bottom: 30px;
  }
}
.Section .Container .Left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  border-radius: 20px;
  margin: 25px;
}
@media only screen and (max-width: 768px) {
  .Section .Container .Left {
    justify-content: center;
    margin-top: 1150px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
}
.Section .Container .Left .Title {
  font-weight: 500;
}
.Section .Container .Left .Form {
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.Section .Container .Left .Form .prueba {
  display: flex;
  flex-wrap: nowrap;
}
.Section .Container .Left .Form .Input {
  padding: 20px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  align-items: center;
  margin-right: 40px;
}
.Section .Container .Left .Form .TextArea {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  width: 100%;
}
.Section .Container .Left .Form .Button {
  background-color: #2D607C;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}/*# sourceMappingURL=main.css.map */